<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../foundation.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <title>Header</title>
  </head>
  <body>

    <!-- Start Top Bar -->
   <div class="top-bar">
     <div class="top-bar-left">
       <ul class="menu">
         <li class="menu-text">Wizard Agency</li>
       </ul>
     </div>
     <div class="top-bar-right">
       <ul class="menu">
         <li><a href="#">One</a></li>
         <li><a href="#">Two</a></li>
         <li><a href="#">Three</a></li>
         <li><a href="#">Four</a></li>
       </ul>
     </div>
   </div>
   <!-- End Top Bar -->
