.order a{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right;
}


.ascending a{
  background-image: url('../img/icon-asc.png');
}

.descending a{
  background-image: url('../img/icon-desc.png');
}
